html {
  font-size: 80%;
  overflow-x: hidden !important;
}

.section-container {
  width: 100%;
}

.section-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 100px;
}

.section-text h2 {
  padding-bottom: 20px;
  color: #890159;
  margin: 0;
}

.section-text p {
  color: #555;
}

.section-text span * {
  padding-top: 20px;
  color: #890159;
}

.section-img {
  width: 100%;
  position: relative;
  height: 600px;
  background-image: url("../../assets/img-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 767px) {
  html {
    font-size: 90%;
  }
  .section-content {
    display: flex;
  }
}
