html {
  font-size: 80%;
}

.sectionSix-container {
  width: 100%;
  padding: 80px;
}

.sectionSix-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 80px;
}

.sectionSix-text h2 {
  padding-bottom: 20px;
  color: #890159;
  margin: 0;
}

.sectionSix-text p {
  color: #555;
}

.sectionSix-carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

@media screen and (min-width: 767px) {
  html {
    font-size: 90%;
  }
  .sectionSix-content {
    display: flex;
  }
}

circle {
  fill: rgb(235, 172, 36);
}
