html {
  scroll-behavior: smooth;
}

.banner > * {
  z-index: 100;
}

.banner {
  position: relative;
  min-height: 100vh;
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.banner-content {
  margin: auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner-text > * {
  padding: 10px;
}

.banner-text h1 {
  font-size: 40px;
}
button {
  color: white;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  background: #890159;
  /* background-color: rgba(156, 161, 160, 0.3); */
  animation: glow 10s infinite;
  transition: 0.5s;
}

button:hover {
  height: 55px;
  width: 110px;
}

#text-fade > * {
  animation: fadein 6s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
