html {
  scroll-behavior: smooth;
}

.banner > * {
  z-index: 100;
}

.banner {
  position: relative;
  min-height: 100vh;
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.banner-content {
  margin: auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner-text > * {
  padding: 10px;
}

button {
  color: white;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  background: #890159;
  /* background-color: rgba(156, 161, 160, 0.3); */
  animation: glow 10s infinite;
  transition: 0.5s;
}

button:hover {
  height: 55px;
  width: 110px;
}

.fade-in-text {
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #fff;
  animation: fadeIn linear 5s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
