html {
  font-size: 80%;
}

body {
  overflow-x: hidden;
}

.sectionFour-container {
  padding-top: 100px;
  width: 100%;
}

.sectionFour-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 100px;
}

.sectionFour-text h2 {
  padding-bottom: 20px;
  color: #890159;
  margin: 0;
}

.sectionFour-text p {
  color: #555;
}

.sectionFour-text span * {
  padding-top: 20px;
  color: #890159;
}

.sectionFour-icons-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionFour-icons {
  min-width: 320px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectionFour-icons > * {
  width: 25%;
  margin: 35px;
}

@media screen and (min-width: 767px) {
  html {
    font-size: 90%;
  }
  .sectionFour-content {
    display: flex;
  }
}
